{% extends 'base.html' %}
{% block content %}

    <div class="jumbotron">
        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <p><a href="{% url 'any_profile' pk=post.author_post.pk %}">{{ post.author_post }}</a></p>
        {% if user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}
            <button type="submit" name="like" class="btn btn-primary" value="done">LIKE:{{ post.like_set.all.count }}</button><br><br>
            {% if request.user == post.author_post %}
            <button type="submit" name="delete" class="btn btn-primary" value="done">DELETE</button>
        </form>
        <a href="{% url 'post_edit' pk=post.pk %}" class="btn btn-primary">EDIT</a>
            {% endif %}
        {% endif %}
      </div>


    <h3>Comments({{ post.comment_set.all.count }})<br><a href="{% url 'post_comment' pk=post.pk %}">Write Your Comment</a></h3>

      {% for comment in post.comment_set.all %}
        <div class="jumbotron">
      <ul>
        <h3>{{ comment.text }}</h3> <br>
        <p><strong>By:</strong><a href="{% url 'any_profile' pk=comment.author_comment.pk %}">{{ comment.author_comment }}</a></p>
        <p><strong>published:</strong>{{ comment.published_date }}</p>
        {% if request.user == comment.author_comment or request.user == post.author_post %}
        <form method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary" name="comment_del" value="done">DELETE</button>
        </form>
        {% endif %}

        </div>
      </ul>
      {% endfor %}

  </body>
</html>

{% endblock %}
