{% extends 'base.html' %}

{% block content %}
<br>
<form class="form-inline my-2 my-lg-0" method="GET">
  <input
  name = 'search'
  class="form-control mr-sm-2"
  type="search"
  placeholder="Search by title" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
{% for post in posts %}
<br>
<div class="jumbotron text-center border border-primary">
  <h3><a href="{% url 'post_detail' pk=post.pk %}">Title:{{ post.title }}</a></h3>
  <h4>{{ post.text }}</h4>
  <h4>By   <a href="{% url 'any_profile' pk=post.author_post.pk %}">{{ post.author_post }}</a></h4>
  <h4>published on {{ post.published_date }}</h4>
  <h4>likes:{{ post.like_set.all.count }}</h4>
  <h4>Comments:{{ post.comment_set.all.count }}</h4>
</div>
{% endfor %}
{% endblock %}
