{% load static %}
<html>
    <head>
        <title>BLOG</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
      <body>

      <nav class="navbar justify-content-between navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="">BLOG</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'post_list' %}">Home <span class="sr-only">(current)</span></a>
            </li>
              {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'post_new' %}" class="top-menu">MAKE NEW POST</a>
              <li class="nav-item">
              <a class="nav-link"  href="{% url 'profile' %}">{{ user.username }}</a></li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_logout' %}">logout</a></li>
              {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">login</a></li>
              {% endif %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
